@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

main {
    width: 50%;
    margin: 100px auto;
    padding: 3px;
}

.tweet {
    border: 1px solid rgb(207, 207, 238);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}

header .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hover:hover {
    text-decoration: underline;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    width: 100%;
}

.fa-twitter {
    color: rgb(29, 161, 242);
    font-size: 25px;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.center {
    text-align: center;
    display: inline-block;
    position: relative;
    top: -5px;
    color: rgb(28, 139, 207);
  }

.follow {
    color: rgb(29, 161, 242);
    font-size: 15px;
}

.inline {
    display: flex;
    gap: 8px;
}

.normal {
    font-weight: 100;
    font-size: 15px;
    color: #5f6161;
}

#inner p.blue {
    color: rgb(28, 139, 207);
}

.info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.date {
    display: inline-block;
    position: relative;
    bottom: -1px;
    color: #3e3f3f;
    font-size: 15px;
    padding: 7px;
}

.info-icon {
    display: block;
    position: relative;
    bottom: -1px;
    font-size: 16px;
    color: #5f6161;
    padding: 7px;
}

.info-icon:hover {
    border-radius: 50%;
    background-color: rgb(204, 221, 230);
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.fa-heart {
    padding: 5px;
    text-align: center;
}

.fa-heart:hover {
    background-color: pink;
    border-radius: 50%;
}

.fa-comment {
    color: rgb(29, 161, 242);
}

.fa-arrow-up-from-bracket {

}

.logo {
    padding: 5px;
}

/* .section1 {
    border: 1px solid red;
}

.section1:hover {
    text-decoration: underline;
    color: rgb(247, 20, 115);
} */

label {
    color: rgb(61, 60, 60);
    font-size: 16px;
    padding: 5px;
    margin-right: 20px;
}

.pink-red {
    color: rgb(247, 20, 115);
}

a {
    text-decoration: none;
}

.read {
    color: blue;
    width: 100%;
    padding: 5px;
    border-radius: 14px;
    text-align: center;
    border: 1px solid rgb(207, 207, 238);
}

 a:hover .read {
    background-color: rgb(204, 221, 230);
}








header .follow-btn {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

header h3, header h4 {
    display: flex;
    margin: 0;
    color: #3e3f3f;
}

#inner p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #3e3f3f;
    line-height: 25px;
}

#inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
    color: rgb(21, 0, 255);
}
