* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Times New Roman, serif;
    font-size: 16px;
  }

main {
    border: 2px solid red;
    width: 50%;
    margin: 100px auto;
    padding: 3px;
}

.tweet {
    border: 1px solid gray;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}

header .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    width: 100%;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.inline {
    display: flex;
    gap: 8px;
}

.normal {
    font-weight: 100;
    font-size: 16px;
}

.blue {
    color: rgb(29, 161, 242);
}

.info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bottom {
    display: block;
    position: relative;
    bottom: -10px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

span {
    color: rgb(61, 60, 60);
    font-size: 13px;
    padding: 10px;
}

.pink-red {
    color: rgb(247, 20, 115);
}

header .follow-btn {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

header h3, header h4 {
    display: flex;
    margin: 0;
}

#inner p {
    margin-bottom: 10px;
    font-size: 20px;
}

#inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
}
